target/
# just a random big file, too big to reasonably keep on the repo
test/large4MB.txt
# haha yeah
test/lorem_ipsum_2gb.txt
test/lorem_ipsum_8gb.txt
# I stole this so I'm not gonna os it
test/genlorum.py
test/note.txt